[package]
name = "ndarray-vision"
version = "0.1.0"
authors = ["xd009642 <danielmckenna93@gmail.com>"]
description = "A computer vision library built on top of ndarray"
repository = "https://github.com/xd009642/ndarray-vision"
readme = "README.md"
license = "MIT/Apache-2.0"
keywords = ["image", "vision", "image-processing"]
categories = ["Science", "Multimedia"]
edition = "2018"

[dependencies]
ndarray = "0.12"
ndarray-stats = "0.1"
num-traits = "0.2"

[dev-dependencies]
ndarray-rand = "0.9.0"
rand = "0.6.5"
